<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'write' %}">글쓰기</a>
<div align="right">
    {% if user.is_authenticated %}
    {{user.username}} |
    <a href="{% url 'mypage' %}">마이페이지</a> |
    <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}
    <a href="{% url 'login' %}">로그인</a>
    {% endif %}
</div>
<hr>
<table>
    {% for list in postlist %}
    <a href="{% url 'post' list.id %}">{{list.postname}}</a>
    <hr>
    {% endfor %}
</table>
<ul>
    {% if postlist.has_previous %}
    <a href="?page={{postlist.previous_page_number}}">이전</a>
    {% else %}
    <a href="#">이전</a>
    {% endif %}
    {% for page_number in postlist.paginator.page_range %}
    {% if page_number == postlist.number %}
    <a href="?page={{page_number}}">{{page_number}}</a>
    {% else %}
    <a href="?page={{page_number}}">{{page_number}}</a>
    {% endif %}
    {% endfor %}
    {% if postlist.has_next %}
    <a href="?page={{postlist.next_page_number}}">다음</a>
    {% else %}
    <a href="#">다음</a>
    {% endif %}
</ul>
</body>
</html>