<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{error}}
<form method="POST" action=".">
    {% csrf_token %}
    <label for="postname">제목</label>
    <input type="text" name="postname" id="postname">
    <br>
    <label for="contents">내용</label>
    <textarea rows="10" cols="50" name="contents" id="contents"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">등록</button>
    <button type="button" onclick="location.href='/' ">돌아가기</button>
</form>
</body>
</html>